.site-tag-plus {
    border-style: dashed !important;
    display:block !important;
    width: 78px !important;
    margin-top: 1rem  !important;
    background-color: #d1e9ff !important;
  }
.edit-tag {
    user-select: none;
}
.tag-input {
    width: 78px !important;
    margin-right: 8px !important;
    vertical-align: top !important;
}