.configs{

    margin: 2rem 2.4rem; 
    padding: 0 1.5rem;

    &__product-types{
        background-color: #fff;
        min-height: 70vh;
    }

    &__product-attributes{
        margin-top: 2rem;
        background-color: #fff;
        min-height: 70vh;
    } 
}